site/
.vs/
.vscode/
Documentation/
src/BSB.Microservices.NGB/Properties/PublishProfiles/
Set-FrameworkVersion.ps1
src/BSB.Microservices.NGB/Logs/
**/bin/
**/ubuntu
**/obj/
**/idea/
**/reports/
**/coverage/
**/node_modules/
src/BSB.Microservices.NGB/APILogs/
coverage.xml
src/BSB.Microservices.NGB/wwwroot/node_modules
src/BSB.Microservices.NGB/site/
tests/BSB.Microservices.NGB.UnitTests/site/
tests/BSB.Microservices.NGB.IntegrationTests/site/
src/BSB.Microservices.NGB.Entity/site/
src/BSB.Microservices.NGB.BusinessServices/site/
src/BSB.Microservices.Affinity/site/
src/BSB.Microservices.NGB.Core/site/
src/BSB.Microservices.LittleLeague/site/
src/BSB.Microservices.NGB.NgTest/node_modules

packages/

src/BSB\.Microservices\.NGB\.NgTest/'\.\./BSB\.Microservices\.NGB/wwwroot'/app\.html

src/BSB\.Microservices\.NGB\.NgTest/'\.\./BSB\.Microservices\.NGB/wwwroot'/favicon\.ico

src/BSB\.Microservices\.NGB\.NgTest/'\.\./BSB\.Microservices\.NGB/wwwroot'/inline\.bundle\.js

src/BSB\.Microservices\.NGB\.NgTest/'\.\./BSB\.Microservices\.NGB/wwwroot'/main\.bundle\.js

src/BSB\.Microservices\.NGB\.NgTest/'\.\./BSB\.Microservices\.NGB/wwwroot'/polyfills\.bundle\.js

src/BSB\.Microservices\.NGB\.NgTest/'\.\./BSB\.Microservices\.NGB/wwwroot'/styles\.bundle\.js
src/BSB\.Microservices\.NGB\.NgTest/'\.\./BSB\.Microservices\.NGB/wwwroot'/vendor\.bundle\.js
tests/BSB\.Microservices\.NGB\.UnitTests/TestResults/

src/Gozer/logs/

.idea
*.user
src/ShitLeopard.Api/appsettings.production.json

src/ShitLeopard.Api/appsettings.json

ShitLeopard.7z
