.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 0.2s ease-in-out;
}

.fade-leave {
}

.fade-leave-active {
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
.s-hidden {
  display: none;
}
