.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 0.1s ease-in-out;
}

.fade-leave {
}

.fade-leave-active {
  transition: opacity 0.1s ease-in-out;
  opacity: 0;
}

.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  opacity: 0.75;
}
.buffer {
  margin-bottom: 50px;
}
.bg {
  background-color: #0d0c18ff;
}
