@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


body {
   background-color: rgb(13, 12, 24); color:white
}
.logo{
    width:400px;
}

.blue-circle {
    animation-delay: 0.1s;
}

.green-circle {
    animation-delay: 0.2s;
}

.red-circle {
    animation-delay: 0.3s;
}


/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #860211
}

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 12px;
    }

    *::-webkit-scrollbar-track {
        background: #ebad09;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #860211;
        border-radius: 20px;
        border: 3px solid #ebad09;
    }
.results {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
.results-full {
    max-height: 650px;
    overflow: auto;
    transition: max-height 1s ease-in-out;
}
@media (min-width: '100px') {
    .results-full {
        max-height: 300px;
        overflow: auto;
        transition: max-height 1s ease-in-out;
    }
}
@media (min-width: '400px') {
    .results-full {
        max-height: 300px;
        overflow: auto;
        transition: max-height 1s ease-in-out;
    }
}
@media (min-width: '800px') {
    .results-full {
        max-height: 500px;
        overflow: auto;
        transition: max-height 1s ease-in-out;
    }
}
@media (min-width: '1020px') {
    .results-full {
        max-height: 650px;
        overflow: auto;
        transition: max-height 1s ease-in-out;
    }
}